<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @author.name %>
</p>

<p>
  <b>Phone:</b>
  <%= format_phone(@author.phone) %>
</p>

<h2>Stories</h2>
<table class="sub-table">
  <% if @author.stories.count > 0 %>
  <% else %>
    No stories yet
  <% end %>
</table>


<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
