<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @story.author_id %>
</p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Publish date:</b>
  <%= @story.publish_date %>
</p>

<p>
  <b>Complete date:</b>
  <%= @story.complete_date %>
</p>

<p>
  <b>Active:</b>
  <%= @story.active %>
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
