<p id="notice"><%= notice %></p>

<p>
  <b>Main Author:</b>
  <%= link_to @story.author.name, @story.author %>
</p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Publish date:</b>
  <%= @story.publish_date %>
</p>

<p>
  <b>Complete date:</b>
  <%= @story.complete_date %>
</p>

<h2>Authors</h2>
<table class="sub-table">
  <% if @story.sentences.count > 0 %>
  <% else %>
    Nothing Written Yet
  <% end %>
</table>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
